# SD card image for BeagleV-Ahead

image boot.vfat {
	vfat {
		files = {
			"fw_dynamic.bin",
			"Image",
			"light_aon_fpga.bin",
			"th1520-beaglev-ahead.dtb",
			"light_c906_audio.bin",
		}

		file uEnv.txt {
			image = "uEnv.txt"
		}
	}
	size = 48M
}

image sdcard.img {
	hdimage {
		partition-table-type = "gpt"
		gpt-location = 2M
	}

	partition uboot {
		in-partition-table = "false"
		image = "u-boot-with-spl.bin"
		offset = 0
		holes = {"(440; 1048576)"}
	}

	partition boot {
		bootable = "true"
		image = "boot.vfat"
	}

	partition rootfs {
		image = "rootfs.ext2"
	}
}

